  <section id="faq">

    <div class="wrap media-grid">
      <article class="full">
        <p>
          SpartaHack 2015 was Michigan State University’s inaugural hackathon.
          For one weekend, 300 students from a wide range of disciplines and
          skill levels teamed up to build creative, innovative technological
          projects from scratch.
        </p>
      </article>

      <article>
        <h1>
          <span>When was SpartaHack 2015?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          Spartahack took place from Friday, March 27th until Sunday,
          March 29th, 2015. Attendees had 36 hours to design, code, and build.
        </p>
      </article>
      <article>
        <h1>
          <span>Who could participate?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          Participation was limited to high school students, university students, or those who have
          left school within 2014-2015 school year. Minors are accepted!
        </p>
      </article>
      <article>
        <h1>
          <span>Were there registration costs?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          SpartaHack, just like America, was free and always will be! We fed you, clothed you (in a single t-shirt - so hoep you brought pants) and decked you out in swag.
        </p>
      </article>
      <article>
        <h1>
          <span>How many students were on a team?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          Teams consisted of 1 - 4 students. If you didn't have a team:
          not a problem! We had team formation options on-site.
        </p>
      </article>
      <article>
        <h1>
          <span>Were there prizes?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          Absolutely! <a href="http://2015.spartahack.com/prizes">Prizes</a> were awarded for many categories, from the
          Grand Prize, to the Best Use of ___ API.  There was even a First-Time Hacker Prize!
        </p>
      </article>
      <article>
        <h1>
          <span>Can you start the project before the weekend?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          Unfortunately not.  You were welcome to come with ideas beforehand,
          but all your work must have been done on site.
        </p>
      </article>
      <article>
        <h1>
          <span>Was reimbursement of travel a thing?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          Here was our <a href="http://2015.spartahack.com/buses.pdf">bus information</a>. Here was our <a href="/http://2015.spartahack.com/travel.pdf">travel reimbursement</a> policy.
        </p>
      </article>
      <article>
        <h1>
          <span>What did everyone bring?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          Attendees needed a laptop, a student ID/picture ID, toiletries,
          and, of course, enthusiasm for the weekend.
        </p>
      </article>
      <article>
        <h1>
          <span>How was the hackathon judged?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          Judging was done by experienced professionals in the industry, MSU student leaders, and our panel of celebrity judges!
        </p>
      </article>
      <article class="tail">
        <h1>
          <span>Who organized this event?</span>
          <i class="fa fa-plus"></i>
        </h1>
        <p>
          SpartaHack 2015 was organized by a group of Michigan State University students
          dedicated to inspiring more students to get excited about technical innovation.
        </p>
      </article>
    </div>

  </section>